<div class="flex flex-col flex-auto min-w-0">

  <div class="flex-auto p-6 sm:p-10">
    <div class="form-container">

      <mat-form-field class="w-full">
        <mat-label>Search by Mobile Number</mat-label>
        <input matInput [(ngModel)]="searchTerm" type="number" placeholder="97112345678" (keydown.enter)="searchSMS()">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date" #dateRangeStart>
          <input matEndDate formControlName="end" placeholder="End date" #dateRangeEnd>
        </mat-date-range-input>
        <mat-label> (MM/DD/YYYY - MM/DD/YYYY) </mat-label>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button class="fuse-mat-button" mat-flat-button [color]="'primary'" (click)="searchSMS()">
        <span>
          Search
        </span>
      </button>

      <button class="fuse-mat-button bg-accent-300" mat-flat-button (click)="resetFilter()">Reset</button>
      <button class="fuse-mat-button w-80 bg-primary-200" mat-flat-button (click)="exportExcel()">Export to
        Excel</button>
    </div>

    <div class="flex flex-col flex-auto dark:bg-default">
      <div class="hidden sm:flex items-center mb-3">
        <div class="p-4 leading-none rounded-l-xl border border-r-0 bg-card">
          <div class="text-sm font-medium text-secondary">Received</div>
          <div class="mt-2 font-mono text-xl">{{status.received}}</div>
        </div>
        <div class="p-4 leading-none border bg-card">
          <div class="text-sm font-medium text-secondary">Sent</div>
          <div class="mt-2 font-mono text-xl">{{status.sent}}</div>
        </div>
        <div class="p-4 leading-none rounded-r-xl border bg-card">
          <div class="text-sm font-medium text-secondary">Total</div>
          <div class="mt-2 font-mono text-xl">{{status.total}}</div>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="smsList" matSort>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
              [indeterminate]="selection.selected.length > 0 && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="MessageID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MessageID </th>
          <td mat-cell *matCellDef="let element"> {{element.MessageID}} </td>
        </ng-container>

        <ng-container matColumnDef="ToAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> To Address </th>
          <td mat-cell *matCellDef="let element"> {{element.ToAddress}} </td>
        </ng-container>


        <ng-container matColumnDef="Body">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Body </th>
          <td mat-cell *matCellDef="let element" (click)="openDialog(element)" style="max-width: 300px;"> {{element.Body}} </td>
        </ng-container>


        <ng-container matColumnDef="StatusID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status ID </th>
          <td mat-cell *matCellDef="let element"> {{element.StatusID}} </td>
        </ng-container>


        <ng-container matColumnDef="SentTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sent Time </th>
          <td mat-cell *matCellDef="let element"> {{element.SentTime | date: 'medium'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="spinner-container">
      <mat-progress-spinner *ngIf="isLoading" [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>