<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">
        <!-- <div class="form-container">

            <mat-form-field class="w-full">
                <mat-label>Search by Mobile Number</mat-label>
                <input matInput [(ngModel)]="searchTerm" type="number" placeholder="97112345678"
                    (keydown.enter)="searchSMS()">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date" #dateRangeStart>
                    <input matEndDate formControlName="end" placeholder="End date" #dateRangeEnd>
                </mat-date-range-input>
                <mat-label> (MM/DD/YYYY - MM/DD/YYYY) </mat-label>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <button class="fuse-mat-button" mat-flat-button [color]="'primary'" (click)="searchSMS()">
                <span>
                    Search
                </span>
            </button>

            <button class="fuse-mat-button bg-accent-300" mat-flat-button (click)="resetFilter()">Reset</button>
            <button class="fuse-mat-button w-80 bg-primary-200" mat-flat-button (click)="exportExcel()">Export to
                Excel</button>
        </div> -->

        <div class="table-container">
            <table mat-table [dataSource]="auditTrailList" matSort>

                <!-- <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
                            [indeterminate]="selection.selected.length > 0 && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="audit_trail_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Audit Trail ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.audit_trail_id}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>


                <ng-container matColumnDef="ip_address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IP Address </th>
                    <td mat-cell *matCellDef="let element" style="max-width: 300px;">
                        {{element.ip_address}} </td>
                </ng-container>


                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>
                
                <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Method </th>
                    <td mat-cell *matCellDef="let element"> {{element.method}} </td>
                </ng-container>
                
                <ng-container matColumnDef="query_params">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Query Params </th>
                    <td mat-cell *matCellDef="let element"> {{element.query_params}} </td>
                </ng-container>
                
                <ng-container matColumnDef="auth_mode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Mode </th>
                    <td mat-cell *matCellDef="let element"> {{element.auth_mode}} </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Stamp </th>
                    <td mat-cell *matCellDef="let element"> {{element.timestamp | date: 'medium'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <div class="spinner-container">
            <mat-progress-spinner *ngIf="isLoading" [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>