<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="filter-container">
            <mat-form-field class="w-full">
                <mat-label>Search by Username</mat-label>
                <input matInput [(ngModel)]="searchTerm" type="text" (keyup)="searchSMS()">
            </mat-form-field>

            <button class="fuse-mat-button" mat-flat-button [color]="'primary'" (click)="openDialog()">
                <span>
                    Add User
                </span>
            </button>
        </div>
        <div>
            <table mat-table [dataSource]="UserList">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>


                <ng-container matColumnDef="disabled">
                    <th mat-header-cell *matHeaderCellDef> Disabled </th>
                    <td mat-cell *matCellDef="let user"> {{user.disabled}} </td>
                </ng-container>


                <ng-container matColumnDef="role_name">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let user"> {{user.role_name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let user">
                        <button class="fuse-mat-button bg-primary-200" mat-flat-button (click)="updateUser(user.user_id)">
                            Edit
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="spinner-container">
                <mat-progress-spinner *ngIf="isLoading" [diameter]="40"
                  [mode]="'indeterminate'"></mat-progress-spinner>
              </div>
            <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>

        </div>
    </div>
</div>